.panel {
  width: 100%;
  min-height: 100%;

  box-sizing: border-box;

  padding: 15px;

  overflow: hidden;

  font-family: sans-serif;

  background-color: rgb(239, 241, 241);
  color: #4b5563;

  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;

  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.18),
    0 4px 12px rgba(0, 0, 0, 0.7);
}

.panel h2 {
  margin: 0 0 12px;

  color: #111827;
}

.panel p {
  margin: 0;

  line-height: 1.5;
}